/* CSSForClientSide */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: auto;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
  color: #f8801d;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
  margin: 0;
}
.text-white {
  color: white;
}

.clearfix {
  clear: both;
  float: none;
}

a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}

.btn:hover {
  background-color: #f8801d;
  color: white;
}

h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
  justify-content: space-evenly;
}
.float-text {
  position: absolute;
  top: 25px;
  left: 25px;
  align-items: center;
  text-align: center;
  font-weight: 800;
}
fieldset {
  width: 100%;
  text-align: left;
  border: 1px solid white;
  margin: 5%;
  /* padding: 3%; */
  /* border-radius: 5px; */
}

.sectionalHeading {
  font-weight: 500;
  padding: 10px;
}

/* CSSS for navbar section */

/* foodSectionSection */

.food-search {
  background-color: #fc8019;
  padding: 2.2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.food-search input[type='search'] {
  width: 100%;
  padding: 1.5%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 800;
}

.searchBarBtn {
  width: 30%;
  padding: 1%;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #fc8019;
  margin-top: 20px;
  color: white;
  font-weight: 800;
}

.searchBarBtn:hover {
  background-color: white;
  color: #fc8019;
}

/* foodSectionSection END */

/* CSS for Categories */

.categoryImage {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out; /* add a smooth transition effect */
}

.categoryImage:hover {
  transform: scale(1.1); /* make the icon grow by 20% on hover */
  opacity: 0.8; /* change the opacity of the image on hover */
}

.categoriesPage {
  display: flex; /* use flexbox layout */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: auto;
  background-color: #e9ecee;
}

.box-3 {
  width: 28%;
  height: 220px;
  margin: 2%;
  float: left;
  justify-content: space-evenly;
}

/* CSS for Food Menu */
.food-menu {
  background-color: #ececec;
  padding: 2% 0;
  height: max-content;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 20%;
  float: left;
}

.orderSummaryFoodPicture {
  width: 100%;
  float: center;
}

.food-menu-desc {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* CSS for footerSocials */
.footerSocials {
  background-color: #fc8019;
  color: white;
  font-weight: 800;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  top: auto;
  position: relative;
  width: 100%;
}

.socialIcons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerLabel2 a {
  text-decoration: none;
  color: white;
}

.footerSocials ul {
  padding: 0;
  margin: 0;
}

.footerSocials ul li {
  display: inline;
}

.footerSocialIcons {
  width: 30px;
  height: 30px;
  border: 2px solid #808080;
  padding: 2px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out; /* add a smooth transition effect */
}

.footerSocialIcons:hover {
  transform: scale(1.2); /* make the icon grow by 20% on hover */
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 1% auto;
  }

  .menu ul {
    text-align: center;
  }

  .food-search input[type='search'] {
    width: 90%;
    padding: 2%;
    margin-bottom: 3%;
  }

  .btn {
    width: 91%;
    padding: 2%;
  }

  .food-search {
    padding: 10% 0;
  }

  .categories {
    padding: 20% 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
  }

  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .footerSocials {
    padding: 5% 0;
  }
  .order {
    width: 100%;
  }
}

.error-message {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.success-message {
  text-align: center;
  justify-content: center;
}

/* searchButtonStyles */

.search-btn {
  background-color: #f8801d;
  color: white;
  padding: 1%;
}

.search-btn:hover {
  background-color: white;
  color: #f8801d;
  font-weight: 700;
  border: 2px solid #f8801d;
}

/* orderNowButtonStyles */

.order-now-btn {
  padding: 2%;
  background-color: #f8801d;
  color: white;
}

.order-now-btn:hover {
  background-color: white;
  color: #f8801d;
  font-weight: 700;
  border: 2px solid #f8801d;
}

.primary-color {
  color: #f8801d;
}

.card-body .adminPanelBtn {
  background-color: #fc8019;
  border: 3px solid #fc8019;
  font-weight: 500;
  color: white;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.card-body .adminPanelBtn:hover {
  background-color: #ffffff;
  color: black;
  border: 3px solid #fc8019;
  font-weight: 500;
}
